ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.li{
    list-style: none;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}