// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.header-box{
    display: flex;
    flex-direction: row;
}
.div-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.div-box2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.div-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.div-btn-box{
    display: flex;
}
.list-bin{
    display: flex;
    flex-direction: row;
    
}
.li{
    display: flex;
    justify-content: center;
    width: 200px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.link-btn{
    width: 160px;
    margin: 5px;
}
.card-body.edit{
    display: flex;
    justify-content: center;
   
}
.form.club{
    width: 300px;
    justify-items: center;
}
.form-group.m{
    display: flex;
    flex-direction: column;
    
}
.first{
    margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 5rem;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-group.mix{
    input{
        height: 40px;
    }
}
.li-ins{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .i{
    font-size: 10px;
}
}
